<!DOCTYPE hibernate-configuration SYSTEM
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- ... Many property settings ... -->
        <!-- List of annotated classes-->
        <mapping class="hello.Message"/>
    </session-factory>
</hibernate-configuration>